<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="com.buffalocart.listeners.TestListener"/>
    </listeners>
    <test name="buffalocart Functional Test">
        <parameter name="browser" value="Chrome"/>
        <classes>
            <class name="com.buffalocart.testscripts.LoginTest">
                <methods>
                    <include name="verifyLoginPageTitle"/>
                    <include name="verifyUserLoginWithValidUserCredentials"/>
                    <include name="verifyUserLoginWithInValidUserCredentials"/>
                    <include name="verifyWhetherUserAbleToClickOnRemememberMeCheckBox"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>